body {
    margin: 0;
    padding: 0;
    background:  #F2EEE9;
}
nav {
    display: block;
    height: 100px;
    position: sticky;
    top: 0;
    background:  #F2EEE9;
    z-index: 1;
}
header {
    background-image: url(/image/food-photographer-jennifer-pallian-AZJjIlbZM60-unsplash.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}


section {
    display: grid;
    grid-template: 1fr / 1fr 400px;
    background-image: url(/image/bodyBack2.jpg)
}

.card-img-top img {
    height: 380px;
 } 

 .card img{
    object-fit: contain;
    width: 60%;
    padding: 20px;
}

h1 {
    width: 50%;
    color: #ffd700;
    padding-left: 70px;
    padding-top: 200px;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: -13rem;
}

h2 {
    padding-left: 10px;
    margin-top: -15px;
    width: 500px;
    margin-left: 30px;
    color: #ffd700;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

h3 {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    margin-top: -10px;
    font-weight: bold;
}

#etiquette-wrapper{
    padding-top: 90px;
}

.card {
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
    text-align: center;
    align-items: center;
}

.inputQuant {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background: #eeebe9ad;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
}
.card-text {
    font-size: 20px;
}

.addBtn {
    border-radius: 5px;
    padding: 0;
    margin-left: 0px;
    width: 245px;
    height: 40px;
    background: rgb(30, 179, 30);
}


.cart {
    position: sticky;
    top: 100px;
    background: white;
    border: 3px solid rgb(59, 59, 59);
    border-radius: 10px;
    padding-bottom: 30px;
}

#toggle-cart-btn {
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 25px;
    margin-right: 60px;
    z-index: 10;
}

#emptyCartBtn {
    border-radius: 50px;
    height: 30px;
    margin: 20px 20px;
    font: bolder;
    font-size: 17px;
    color: red;
    border: 1px solid black;
    margin-left: 80px;
}

.dltBtn {
    background: rgb(238, 123, 123);
    border-radius: 100px;
    padding: 0;
    margin-left: 27px;
    padding: 5px;
}

.rubrik {
    background: rgba(72, 160, 182, 0.719);
}

h4 {
    background: rgb(59, 59, 59);
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 25px;
}

.order {
    background: rgb(30, 179, 30);
    border-radius: 80px;
    margin-left: 40px;
    color: white;
    padding: 12px 30px;
    margin-bottom: 0px;
    font-size: 20px;
}

#total {
    font-size: 18px;
    margin-left: 25px;
}